option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance       # Change to LoadBalanced for HA

  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    ASPNETCORE_URLS: http://0.0.0.0:5000
    DOTNET_RUNNING_IN_CONTAINER: "true"

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 5000
    Protocol: HTTP
    MatcherHTTPCode: 200

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:ec2:instances:
    InstanceTypes: t3.small
